@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  color: black;
}

@keyframes drop {
  from {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.link-btn {
  font-family: "Inconsolata", monospace;
  height: 44px;
  color: #5cffa8;
  border: 1px solid #5cffa8;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  border-radius: 4px;
  letter-spacing: 0.7px;
  transition: all 0.1s ease-in;
}
.link-btn:hover {
  background-color: #00210f;
}

.navbar {
  font-family: "Inconsolata", monospace;
  background: #101018;
  color: #9ba4b6;
  top: 0;
  z-index: 100;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
@media (max-width: 767px) {
  .navbar {
    padding: 0 20px;
  }
}
.navbar a {
  font-size: 18px;
  color: #5cffa8;
  text-decoration: none;
  margin: 0 20px;
  transition: all 0.25s ease;
  animation: drop 0.3s ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}
@media (max-width: 767px) {
  .navbar a {
    font-size: 20px;
    margin: 0 15px;
  }
}
.navbar a.item2 {
  animation-delay: 0.15s;
}
.navbar a.item3 {
  animation-delay: 0.3s;
}
.navbar a.item4 {
  animation-delay: 0.45s;
}

section.about {
  min-height: calc(100vh - 60px);
  background: #101018;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  section.about {
    padding: 0 30px;
  }
}
section.about .photo {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 80px;
}
section.about .hello {
  font-size: 50px;
  font-weight: 500;
  margin: 0 0 30px;
  color: #e2e5f3;
}
@media (max-width: 1023px) {
  section.about .hello {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  section.about .hello {
    font-size: 24px;
  }
}
section.about .bio {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  color: #9ba4b6;
  margin-right: 60px;
}
@media (max-width: 767px) {
  section.about .bio {
    font-size: 16px;
  }
}
section.about .bio .theme {
  color: #5cffa8;
  font-weight: 400;
}
section.about p {
  margin: 0 0 20px;
}

section.skills {
  background: rgba(16, 16, 24, 0.97);
  color: #9ba4b6;
  padding: 0 100px;
  font-weight: 300;
}
@media (max-width: 1023px) {
  section.skills {
    padding: 0 60px;
  }
}
@media (max-width: 767px) {
  section.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}
section.skills .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  align-items: center;
  padding: 100px 0;
}
@media (max-width: 1023px) {
  section.skills .content {
    display: block;
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  section.skills .content {
    display: block;
    padding: 60px 0;
  }
}
section.skills .left {
  color: #bbc2e2;
  font-size: 24px;
  margin-right: 60px;
  line-height: 1.5;
}
@media (max-width: 1023px) {
  section.skills .left {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  section.skills .left {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 1.4;
  }
}
section.skills .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
}
@media (max-width: 767px) {
  section.skills .right {
    display: block;
  }
}
section.skills .right .title {
  font-size: 22px;
  font-weight: 500;
  color: #5cffa8;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  section.skills .right .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
section.skills .right .skill {
  font-size: 18px;
  color: #9ba4b6;
}
section.skills .right .skill:not(:first-child) {
  margin-top: 5px;
}
@media (max-width: 767px) {
  section.skills .right .skill {
    font-size: 16px;
  }
}

section.projects {
  background: #101018;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  color: #9ba4b6;
  font-weight: 300;
}
@media (max-width: 1023px) {
  section.projects {
    padding: 0 60px;
  }
}
@media (max-width: 767px) {
  section.projects {
    padding: 0 20px;
  }
}
section.projects .title {
  color: #bbc2e2;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0 40px;
}
section.projects .content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
section.projects .projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
}
@media (max-width: 767px) {
  section.projects .projects-grid {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
}
section.projects .projects-grid .project-title {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  color: #5cffa8;
  text-decoration: none;
  position: relative;
}
@media (max-width: 767px) {
  section.projects .projects-grid .project-title {
    font-size: 22px;
  }
}
section.projects .projects-grid .project-title::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  height: 3px;
  background-color: #5cffa8;
  width: 0%;
  transition: all 0.25s ease-out;
}
section.projects .projects-grid .project-title:hover::after {
  width: 100%;
}
section.projects .projects-grid .desc {
  font-size: 18px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  section.projects .projects-grid .desc {
    font-size: 16px;
  }
}
section.projects .projects-grid .tech-used {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  section.projects .projects-grid .tech-used {
    font-size: 14px;
  }
}
section.projects .projects-grid .tech {
  color: #5cffa8;
}
section.projects .projects-grid .tech:not(:last-child):after {
  content: "";
  background: #5cffa8;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

section.blog {
  min-height: 100vh;
  background: #101018;
  color: #9ba4b6;
  padding: 60px 100px;
}
section.blog .title {
  text-align: center;
}
section.blog .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 40px;
}
section.blog .btn-wrapper {
  text-align: center;
}
section.blog .blog-card {
  background-color: #202030;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.blog .blog-card .link {
  font-size: 18px;
  text-align: right;
  margin-bottom: 16px;
}
section.blog .blog-card .blog-title {
  color: #e2e5f3;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px;
}
section.blog .blog-card .desc {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 40px;
}
section.blog .blog-card .tags {
  font-size: 14px;
}
section.blog .blog-card .tags span {
  margin-right: 10px;
}

.social {
  position: fixed;
  right: 24px;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
}
.social a {
  font-size: 20px;
  color: rgba(187, 194, 226, 0.8);
  margin: 12px;
  transition: all 0.25s ease-in;
}
.social a:hover {
  color: #5cffa8;
}

footer {
  background: #101018;
  color: rgba(155, 164, 182, 0.5);
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
}
@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}

*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #202030;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #2f2f47;
  border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #3f3f5f;
}

/*# sourceMappingURL=app.css.map */
