@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

$bg: rgb(16, 16, 24);
$red: #ee6055;
$text: rgb(155, 164, 182);
$text2: #bbc2e2;
$text-white: #e2e5f3;
$theme: #5cffa8;

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  color: black;
}

@keyframes drop {
  from {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.link-btn {
  font-family: "Inconsolata", monospace;
  height: 44px;
  color: $theme;
  border: 1px solid $theme;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  border-radius: 4px;
  letter-spacing: 0.7px;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: #00210f;
  }
}

// navbar
.navbar {
  font-family: "Inconsolata", monospace;
  background: $bg;
  color: $text;
  // position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;

  @include mobile {
    padding: 0 20px;
  }

  a {
    font-size: 18px;
    color: $theme;
    text-decoration: none;
    margin: 0 20px;
    transition: all 0.25s ease;
    animation: drop 0.3s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;

    @include mobile {
      font-size: 20px;
      margin: 0 15px;
    }

    &.item2 {
      animation-delay: 0.15s;
    }

    &.item3 {
      animation-delay: 0.3s;
    }

    &.item4 {
      animation-delay: 0.45s;
    }
  }
}

// about section
section.about {
  min-height: calc(100vh - 60px);
  background: $bg;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 0 30px;
  }

  .photo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 80px;
    // position: relative;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   border: 2px solid $theme;
    //   top: 2px;
    //   left: 2px;
    // }
  }

  .hello {
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 30px;
    color: $text-white;

    @include tablet {
      font-size: 36px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  .bio {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: $text;
    margin-right: 60px;

    @include mobile {
      font-size: 16px;
    }

    .theme {
      color: $theme;
      font-weight: 400;
    }
  }

  p {
    margin: 0 0 20px;
  }
}

// skills section
section.skills {
  background: rgba($bg, 0.97);
  color: $text;
  padding: 0 100px;
  font-weight: 300;

  @include tablet {
    padding: 0 60px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    align-items: center;
    padding: 100px 0;

    @include tablet {
      display: block;
      padding: 80px 0;
    }

    @include mobile {
      display: block;
      padding: 60px 0;
    }
  }

  .left {
    color: $text2;
    font-size: 24px;

    margin-right: 60px;
    line-height: 1.5;

    @include tablet {
      margin-right: 0;
    }

    @include mobile {
      font-size: 18px;
      margin: 0 auto;
      margin-bottom: 40px;
      line-height: 1.4;
    }
  }

  .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;

    @include mobile {
      display: block;
    }

    .title {
      font-size: 22px;
      font-weight: 500;
      color: $theme;
      margin-bottom: 25px;

      @include mobile {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    .skill {
      font-size: 18px;
      color: $text;

      &:not(:first-child) {
        margin-top: 5px;
      }

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

// projects section
section.projects {
  background: $bg;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  color: $text;
  font-weight: 300;

  @include tablet {
    padding: 0 60px;
  }

  @include mobile {
    padding: 0 20px;
  }

  .title {
    color: $text2;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 40px;
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;

    @include mobile {
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 10px;
    }

    .project-title {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      color: $theme;
      text-decoration: none;
      position: relative;

      @include mobile {
        font-size: 22px;
      }

      &::after {
        position: absolute;
        left: 0;
        bottom: -3px;
        content: "";
        height: 3px;
        background-color: $theme;
        width: 0%;
        transition: all 0.25s ease-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    .desc {
      font-size: 18px;
      line-height: 1.5;

      @include mobile {
        font-size: 16px;
      }
    }

    .tech-used {
      display: flex;
      flex-wrap: wrap;

      @include mobile {
        font-size: 14px;
      }
    }

    .tech {
      color: $theme;

      &:not(:last-child) {
        &:after {
          content: "";
          background: $theme;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          display: inline-block;
          margin: 0 10px;
          vertical-align: middle;
        }
      }
    }
  }
}

// blog
section.blog {
  min-height: 100vh;
  background: $bg;
  color: $text;
  padding: 60px 100px;

  .title {
    text-align: center;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 40px;
  }

  .btn-wrapper {
    text-align: center;
  }

  .blog-card {
    background-color: #202030;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .link {
      font-size: 18px;
      text-align: right;
      margin-bottom: 16px;
    }

    .blog-title {
      color: $text-white;
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 20px;
    }

    .desc {
      font-size: 14px;
      line-height: 1.4;
      margin: 0 0 40px;
    }

    .tags {
      font-size: 14px;

      span {
        margin-right: 10px;
      }
    }
  }
}

// social
.social {
  position: fixed;
  right: 24px;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;

  a {
    font-size: 20px;
    color: rgba($text2, 0.8);
    margin: 12px;
    transition: all 0.25s ease-in;

    &:hover {
      color: $theme;
    }
  }
}

footer {
  background: $bg;
  color: rgba($text, 0.5);
  padding: 16px 0;
  text-align: center;
  font-size: 14px;

  @include mobile {
    font-size: 12px;
  }
}

// scrollbar
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #202030;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #2f2f47;
  border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #3f3f5f;
}
