// about section
section.about {
  color: $text2;
  padding: 100px;
  font-weight: 300;

  @include tablet {
    padding: 60px 30px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 50px;
  }

  @include iphone5 {
    padding: 0 20px 50px;
  }

  @include large_screen {
    padding: 100px 0;
    width: 60%;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
    align-items: center;

    @include mobile {
      grid-template-columns: none;
    }
  }

  .left {
    font-size: 19px;
    margin-right: 20px;
    line-height: 1.5;

    @include tablet {
      margin-right: 0;
    }

    @include mobile {
      order: 2;
      font-size: 16px;
      margin: 40px auto 40px;
      line-height: 1.4;
    }

    @include iphone5 {
      font-size: 15px;
    }

    p {
      margin: 0 0 20px;
    }
  }

  .photo {
    width: 100%;
    border-radius: 20px;

    @include mobile {
      width: 50%;
      justify-self: center;
    }
  }

  .skills-grid {
    display: flex;

    .skill {
      width: 24px;
      height: 24px;

      @include mobile {
        width: 16px;
        height: 16px;
      }

      @include iphone5 {
        width: 15px;
        height: 15px;
      }
    }

    .skill,
    i {
      font-size: 24px;
      margin-right: 20px;

      @include mobile {
        font-size: 16px;
      }

      @include iphone5 {
        font-size: 15px;
      }
    }

    .skill-nextjs {
      transform: scale(1.8);
    }

    .fa-html5 {
      color: #e34c26;
    }

    .fa-css3-alt {
      color: #264de4;
    }

    .fa-js {
      color: #f0db4f;
    }

    .fa-react {
      color: #61dbfb;
    }

    .fa-sass {
      color: #cd6799;
    }

    .fa-git-alt {
      color: #f14e32;
    }
  }
}
