// projects section
section.projects {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  color: $text;
  font-weight: 300;

  @include tablet {
    padding: 50px 30px 20px;
  }

  @include mobile {
    padding: 50px 30px 40px;
  }

  @include large_screen {
    padding: 60px 0;
    width: 60%;
    margin: 0 auto;
  }

  .title {
    color: $text2;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 40px;
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .projects-grid {
    @include mobile {
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 10px;
    }

    .project-card {
      width: 80%;
      margin: 0 auto;

      &:not(:first-child) {
        margin-top: 60px;

        @include mobile {
          margin-top: 50px;
        }
      }

      @include mobile_and_tablet {
        width: 100%;
      }
    }

    .project-title {
      display: inline-block;
      font-size: 22px;
      font-weight: 500;
      color: $text-white;
      text-decoration: none;
      position: relative;
      margin: 0 0 20px;

      @include mobile {
        font-size: 18px;
        margin-top: 20px;
      }

      .theme {
        color: $theme;
      }
    }

    .desc {
      font-size: 18px;
      margin: 0;
      line-height: 1.5;

      @include mobile {
        font-size: 15px;
      }
    }
  }
}
